*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("background.jfif");
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    color: white;
    background: black;
}

footer p{
    padding: 0.5em 0 0.5em 0.5em;
}

a{
    text-decoration: none;
}
.pad{
    padding: 10%;
}